@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Bungee+Inline&display=swap');

@font-face { 
  font-family: 'SourGummy';
  src: local(0), url("Sour_Gummy/static/SourGummy-Medium.ttf") format("woff");
  font-weight: 100;
  font-style: normal;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    height: 100%;
}

h1 { 
    font-family: 'Bungee Inline';
    font-size: 5vh;
    margin: 3vw 3vw 3vw 0;

}

.row-itens { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col-itens { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    width: 85.28vw;
    height: 69.43vh;
    gap: 8.74vh;
    box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.25);

}


#btnProxQuestao { 
    border-radius: 30em;
    border: none;
    background-color: #70A1E2;
    color: black;
    font-family: 'SourGummy';
    width: 36.74vw;
    height: 6.54vh;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

#btnProxQuestao:hover {
  background-color: #5179ad;
  border-radius: 1.74vw;

}

#content { 
    display: flex;
    align-items: center;
    justify-content: center;
}

#pergunta { 
    font-family: 'SourGummy';
    font-size: 4.5vh;
    font-weight: 400;
    margin-left: 4vw;
    margin-right: 4vw;
}

.alternativas { 
    font-family: 'SourGummy';
    font-size: 4vh;
    font-weight: 400;
    margin: 0;
    margin-left: 2vw;
}

.bolinha_alternativa { 
    display: flex;
    justify-content: center;
    font-size: 4vh;
    font-family: 'SourGummy';
    background-color: #F3F3F3;
    border-radius: 100vh;
    width: 3.47vw;
    height: 4.88vh;
    cursor: pointer;
}

.bolinha_alternativa:hover {
  background-color: #dbdada;
  border-radius: 1.74vw;

}

.blocoAlt { 
    gap: 21.1vw;
}

#barra-progresso{ 
    width: 24.86vw;
    height: 5.66vh;
    background-color: white;
    border-radius: 50em;
    overflow: hidden;
}

#value { 
    width: 0%;
    height: 100%;
    background-color: #FFD470;
    border-radius: 50em;
    transition: width 0.5s ease-in-out;
}

.barra { 
    justify-content: space-between;
}

.alternativa-selecionada {
    background-color: darkgray;
}
        
.alternativa-correta {
    background-color: green;
    color: white;
}

.alternativa-errada {
    background-color: red;
    color: white;
}

.correta {
    background-color: green;
    color: white;
}

.errada {
    background-color: red;
    color: white;
}

.grafico-desempenho {
    /* Converta estas medidas para VW/VH se necessário */
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    display: flex; 
    place-items: center;
    position: relative;
    
    /* Cria o "buraco" do donut com uma máscara (compatível com a maioria dos navegadores modernos) */
    -webkit-mask: radial-gradient(farthest-side, transparent 70%, #fff 0);
            mask: radial-gradient(farthest-side, transparent 70%, #fff 0);
}

.valor-central {
  position: fixed;
  font-size: 2rem;
  font-weight: bold;
  color: #333; /* cor do texto */
}

.grafico{ 
    gap: 10vw;
}

#email-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-family: 'SourGummy';
    font-size: 2vh;
    font-weight: 400;
}

#email-input{ 
    border-radius: 30em;
    border: none;
    background-color: #F3F3F3;
    color: black;
    font-family: 'SourGummy';
    text-align: center;
    width: 26.74vw;
    height: 6.54vh;
    font-size: 3vh;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

#btnInicio{
    border-radius: 30em;
    border: none;
    background-color: #70A1E2;
    color: black;
    width: 36.74vw;
    height: 6.54vh;
    font-size: 3vh;
    font-family: 'SourGummy';
    font-weight: 700;
    cursor: pointer;
}

#btnInicio:hover {
  background-color: #5179ad;
  border-radius: 1.74vw;

}
